<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      1994083. Mario Alberto Ordaz Flores. Practica #1
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <br><strong>Descripción de la Practica: </strong><br>
  <p>Crear una pagina llamada presupuesto que ingrese 3 datos (Tipo de dato, monto y descripcion) que los almacene en una lista, posteriormente los muestra en orden y poder eliminarlos</p>
  
  <ion-button routerLink="/presupuesto">
    Ir hacia la pagina Presupuesto
  </ion-button>

  
</ion-content>

